* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

#root {
  max-width: 1200px;
  margin: 0 auto;

  outline: 2px solid blue; /* NOTE: временно */
}
